<div class="col">

<div id="menu">
  <h1>Populisms</h1>
  <button (click)="setNuts(2)" [ngClass]="{'btn-primary':nuts!==2, 'btn-success':nuts===2}" class="btn btn-primary">Nuts2 - Level 2</button>
  <button (click)="setNuts(3)" [ngClass]="{'btn-primary':nuts!==3, 'btn-success':nuts===3}" class="btn btn-primary">Nuts2 - Level 3</button>
</div>
<div class="row">
  <div id="map"></div>
  <div id="info" class="col">
    <div id="parties">
      <h1 *ngIf="region" >{{region.NUTS_NAME}}</h1>
      <div *ngIf="votesN.length === 0 && votesE.length === 0" id="noparties">
        Seleziona regione per visualizzare i risultati elettorali
      </div>
      <div *ngIf="votesN.length > 0">
        <div id="chart"></div>
        <div >
          <div>Valid: {{votesN[0]?.validvote}} ({{votesN[0]?.validvote/votesN[0]?.electorate|percent}})</div>
          <div>Total: {{votesN[0]?.totalvote}} ({{votesN[0]?.totalvote/votesN[0]?.electorate|percent}})</div>
          <div>Electorate: {{votesN[0]?.electorate}}</div>
        </div>
        <table  > 
          <tr *ngFor="let p of votesN">
            <td [title]="p['party_english']">{{p['party_abbreviation']}}</td>
            <td>{{p['partyvote']}} </td><td>({{p.partyvote/p.totalvote|percent}})</td><td>({{p.partyvote/p.electorate|percent}})</td>
          </tr>
        </table>
      </div>
      <div *ngIf="votesE.length > 0">
        <div id="chart"></div>
        <div >
          <div>Valid: {{votesE[0]?.validvote}} ({{votesE[0]?.validvote/votesE[0]?.electorate|percent}})</div>
          <div>Total: {{votesE[0]?.totalvote}} ({{votesE[0]?.totalvote/votesE[0]?.electorate|percent}})</div>
          <div>Electorate: {{votesE[0]?.electorate}}</div>
        </div>
        <table  > 
          <tr *ngFor="let p of votesE">
            <td [title]="p['party_english']">{{p['party_abbreviation']}}</td>
            <td>{{p['partyvote']}} </td><td>({{p.partyvote/p.totalvote|percent}})</td><td>({{p.partyvote/p.electorate|percent}})</td>
          </tr>
        </table>
      </div>
    </div>
</div>
<div id="timeline">
  <div id="selector">
    <button [ngClass]="{'btn-primary':tl!=='eu', 'btn-success':tl==='eu'}" class="btn " (click)="setTl('eu')">EU</button>
    <button [ngClass]="{'btn-primary':tl!=='national', 'btn-success':tl==='national'}" class="btn " (click)="setTl('national')">Nat</button>
    <button [ngClass]="{'btn-primary':tl!=='joint', 'btn-success':tl==='joint'}" class="btn " (click)="setTl('joint')">Joint</button>
  </div>
  <div id="years" >
    <button (click)="show(year)" [ngClass]="{'btn-primary':showyear!==year, 'btn-success':showyear===year}" class="btn btn-small" *ngFor="let year of selectedYears">{{year}}</button>
  </div>
</div>
<!--<router-outlet />-->
</div>